.body{
    width:100vw;
    height:100vh;
    background-color:#F0D4DF;
    /* position:relative; */
}
.sidebar{
    width:100px;
    height:90vh;
    margin:10px 10px;
    padding:10px 10px ;
    background:#F0F4FA;
}
.flex{
    width:80px;
    height:auto;
    background:yellow;
}
